server:
  port: ${PORT:8080}

upstreams:
  refdata:
    base-url: ${REFDATA_BASE_URL:http://localhost:18082}
  ordermanager:
    base-url: ${ORDERMANAGER_BASE_URL:http://localhost:18083}

spring:
  main:
    banner-mode: "off"

logging:
  level:
    root: INFO

management:
  endpoints:
    web:
      exposure:
        include: health,info
